In [1]:
import pandas as pd

In [2]:
#Create dataframe
df = pd.DataFrame({'customer': ['A', 'A', 'B', 'B', 'C', 'C'],
                   'customer-type': ['Regular', 'Low', 'High', 'Regular', 'Regular', "Low"],
                   'frequency': [15, 3, 24, 25, 9, 5],
                   })

df

  customer customer-type  frequency
0        A       Regular         15
1        A           Low          3
2        B          High         24
3        B       Regular         25
4        C       Regular          9
5        C           Low          5

In [3]:
'''
df.groupby('customer')\ #group by customer
.agg({'frequency': [min, max]})\ #aggregate by 'frequency', return min and max values
.rename(columns={'min': 'amt1', 'max': 'amt2'})\ #rename columns min/max
.droplevel(0, axis=1)\ #drop the level created by 'frequency' aggregation
.reset_index() #remove 'customer' from the index
'''
df.groupby('customer').agg({'frequency': [min, max]}).rename(columns={'min': 'amt1', 'max': 'amt2'}).droplevel(0, axis=1).reset_index()

  customer  amt1  amt2
0        A     3    15
1        B    24    25
2        C     5     9