# NLP Lemmatization vs Stemming

In [1]:
import pandas as pd

In [2]:
df_words = pd.DataFrame(['labor', 'labors', 'laborer', 'laborious', 'laboratory', 'laboratories', 'collaborate', 'elaborate'], columns=['Original'])
df_words

       Original
0         labor
1        labors
2       laborer
3     laborious
4    laboratory
5  laboratories
6   collaborate
7     elaborate

# Stemmer

In [3]:
import nltk
#nltk.download('popular')

In [4]:
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

In [5]:
df_words['nltk_Stemmer'] = [stemmer.stem(word) for word in df_words['Original']]
df_words

       Original nltk_Stemmer
0         labor        labor
1        labors        labor
2       laborer        labor
3     laborious       labori
4    laboratory   laboratori
5  laboratories   laboratori
6   collaborate     collabor
7     elaborate       elabor

# Spacy lemmatization

In [6]:
#!python -m spacy download en

In [7]:
import spacy

In [8]:
nlp = spacy.load('en_core_web_sm')

In [9]:
doc = nlp(str([word for word in df_words['Original']]))
df_words['spacy_Lemma'] = [token.lemma_ for token in doc if token.pos_ == 'NOUN' or token.pos_ == 'ADJ']

In [10]:
df_words

       Original nltk_Stemmer  spacy_Lemma
0         labor        labor        labor
1        labors        labor        labor
2       laborer        labor      laborer
3     laborious       labori    laborious
4    laboratory   laboratori   laboratory
5  laboratories   laboratori   laboratory
6   collaborate     collabor  collaborate
7     elaborate       elabor    elaborate