In [1]:
import pandas as pd

In [2]:
data = {'Practice': ['Football', 'Volleyball', 'Hockey'],
       'US': [1, 2, 3],
       'CH': [4, 5, 6],
       'MX': [7, 8, 9]}

df = pd.DataFrame(data)
df

     Practice  US  CH  MX
0    Football   1   4   7
1  Volleyball   2   5   8
2      Hockey   3   6   9

In [3]:
#Save as CSV
df.to_csv('sports.csv', sep=',', encoding='utf-8')

In [4]:
#Save as XLSX
df.to_excel(r'sports.xlsx')